<header class="myHeader">

    <div class="imgHeader1 imgHeader">
        <p>Mysthicity</p>
    </div>

    <div class="myHeaderList">
        <ul>
            <li>
                Histoire
            </li>
            <li>
                NFT, c'est quoi ?
            </li>
            <li>
                Catégories
            </li>
            <li>
                Créatures
            </li>
            <li>
                Galeries
            </li>
            <li>
                Partenaires
            </li>
        </ul>
    </div>


    <div class="myUserList">
        <ul>
            <li>
                pseudo
            </li>
            <li>
                profil
            </li>
        </ul>
        <p>Admin</p>
    </div>





    <div class="imgHeader2 imgHeader">
        <div class="bottomHeader">
            <div class="myP bottomP">
                <p>Elles sont <br>perdues <br>dans notre <br>monde</p>
            </div>
            <div class="myP topRightP">
                <p>Créatures <br>mythiques</p>
            </div>
        </div>
    </div>
</header>