<header class="myHeader">

    <div class="imgHeader1 imgHeader">
        <a routerLink="/" routerLinkActive="active-link">
            <p>Mysthicity</p>
        </a>
    </div>

    <div class="myHeaderList">
        <ul>
            <li>
                <a routerLink="/histoire" routerLinkActive="active-link">Histoire</a>
            </li>
            <li>
                <a routerLink="/nft-explication" routerLinkActive="active-link">NFT, c'est quoi ?</a>
            </li>
            <li>
                <a routerLink="/categories" routerLinkActive="active-link">Catégories</a>
            </li>
            <li>
                <a routerLink="/creatures" routerLinkActive="active-link">Créatures</a>
            </li>
            <li>
                <a routerLink="/galeries" routerLinkActive="active-link">Galeries</a>
            </li>
            <li>
                <a routerLink="/partenaires" routerLinkActive="active-link">Partenaires</a>
            </li>
        </ul>
    </div>


    <div *ngIf="!authService.isAuthenticated()" class="myUserList">
        <ul>
            <li>
                <a routerLink="/admin" routerLinkActive="active-link">Admin</a>
            </li>
            <li>
                <a routerLink="/profil" routerLinkActive="active-link">Pseudo</a>
            </li>
            <li>
                <a routerLink="/profil" routerLinkActive="active-link">Profil</a>
            </li>
        </ul>

    </div>





    <div class="imgHeader2 imgHeader">
        <div class="bottomHeader">
            <div class="myP bottomP">
                <p>Elles sont <br>perdues <br>dans notre <br>monde</p>
            </div>
            <div class="myP topRightP">
                <p>Créatures <br>mythiques</p>
            </div>
        </div>
    </div>
</header>