<div class="homeContainer">
    <div class="homeLeftContainer">
        <div>
            <ul class="firstList">
                <li> <a routerLink="/histoire">Histoire</a></li>
                <li> <a routerLink="/creatures">Créatures</a></li>
                <li> <a routerLink="/nft-explication">NFT, c'est quoi ?</a></li>
                <li> <a routerLink="/galeries">Galeries</a></li>
                <li> <a routerLink="/categories">Catégories</a></li>
                <li> <a routerLink="/partenaires">Partenaires</a></li>
                <li> <a routerLink="/reseaux-sociaux">Nos réseaux</a></li>
            </ul>
        </div>
        <div>
            <ul class="secondList">
                <li> <a routerLink="/qui-suis-je">Qui suis-je ?</a></li>
                <li> <a routerLink="/connexion-inscription">Connexion / Inscription</a></li>
            </ul>
        </div>
    </div>
    <div class="homeRightContainer">
        <div class="imgHeader1 imgHeader">
            <p>Mysthicity</p>
        </div>

        <div class="imgHeader2 imgHeader">
            <div class="bottomHeader">
                <div class="myP bottomP">
                    <p>Elles sont <br>perdues <br>dans notre <br>monde</p>
                </div>
                <div class="myP topRightP">
                    <p>Créatures <br>mythiques</p>
                </div>
            </div>
        </div>
    </div>
</div>