<app-contain>

    <div class="addNftPage">
        <div class="addNftContainer">
            <div class="addNftTitle">
                <h1>Modifier le nft</h1>
            </div>

            <div class="bgAddNft">
                <div class="inputAddNft mx-auto">
                    <input type="text" placeholder="Nom du nft ...">
                </div>
                <div class="addNft">
                    <input type="text" placeholder="nft à ajouter ...">
                    <div class="addNftButton">
                        <a type="submit" class="animated-button1">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Parcourir
                        </a>
                    </div>
                 
                   <div class="cloneimgAddNft">  <img src="assets/nft/creaturesTechnologiques/cyclope/cyclope1.webp" alt=""></div>
                </div>
                <textarea class="mx-auto" name="" id="" cols="30" rows="10"
                    placeholder="Description du nft ..."></textarea>
                <div class="addNftButton addNftButtonBottom">
                    <a type="submit" class="animated-button1">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Valider
                    </a>
                </div>
            </div>

            <div class="btnArrows">
                <a class="backToCategory btnBack" routerLink="/profil" routerLinkActive="active-link">
                    <img class="arrowToCategory" src="../../../assets/design/arrow.webp" alt="Bouton retour">retour :
                    profil
                </a>

                <a class="backToCreatures btnBack" routerLink="/profil/mes-nfts" routerLinkActive="active-link">
                    <img class="arrowToCreatures" src="../../../assets/design/arrow.webp" alt="Bouton retour"> retour :
                    mes nfts
                </a>
            </div>
        </div>
    </div>





</app-contain>