<h2 class="titleLoginRegister titleLogin">S'inscrire</h2>
<div class="myFormlogin">
    <form action="email">
        <div class="myInput inputTop">
            <input type="text" placeholder="Nom ">
            <input type="text" placeholder="Prénom">
        </div>
        <div class="myInput inputMiddle">
            <input type="text" placeholder="Pseudo">
            <input type="text" placeholder="Email">
        </div>
        <div class="myInput inputBottom">
            <input type="text" placeholder="Date de naissance">
            <input type="text" placeholder="Mot de passe">
        </div>

        <div class="formLoginRegisterButton">
            <a type="submit" class="animated-button1">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                S'inscrire
            </a>
        </div>
    </form>
</div>