<app-contain>
    <h2 class="titlePartnairs">Partenaires</h2>

    <div class="linkPartnairs">

        <div class="partnairDetails FinalBarista">
            <img src="../../../assets/design/logoPartnair1.webp" alt="partenaire FinalBarista">
            <p>FinalBarista</p>
        </div>

        <div class="partnairDetails ChezJosy">
            <img src="../../../assets/design/logoPartnair2.webp" alt="partenaire ChezJosy">
            <p> ChezJosy</p>
        </div>

        <div class="partnairDetails BergerOuk">
            <img src="../../../assets/design/logoPartnair3.webp" alt="partenaire BergerOuk">
            <p> BergerOuk</p>
        </div>
    </div>

    <h2 class="titlePartnairs titleFormPartnair">Formulaire</h2>


    <div class="myFormPartnair">
        <form action="email">
            <div class="myInput inputTop">
                <input type="text" placeholder="Nom ">
                <input type="text" placeholder="Prénom">
            </div>
            <div class="myInput inputbottom">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Téléphone">
            </div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Votre message ..."></textarea>


            <div class="formPartnairsButton">
                <a type="submit" class="animated-button1">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Envoyer
                </a>
            </div>
        </form>
    </div>



</app-contain>