<app-contain>
    <h2 class="titlePartnairs">Partenaires</h2>

    <div class="linkPartnairs">

        <div class="partnairDetails FinalBarista">
            <img src="../../../assets/design/logoPartnair1.webp" alt="partenaire FinalBarista">
            <p>FinalBarista</p>
        </div>

        <div class="partnairDetails ChezJosy">
            <img src="../../../assets/design/logoPartnair2.webp" alt="partenaire ChezJosy">
            <p> ChezJosy</p>
        </div>

        <div class="partnairDetails BergerOuk">
            <img src="../../../assets/design/logoPartnair3.webp" alt="partenaire BergerOuk">
            <p> BergerOuk</p>
        </div>

    </div>



    <h2 class="titlePartnairs">Formulaire</h2>
</app-contain>