<app-contain>
    <h2 class="titleLoginRegister titleLogin">Connexion</h2>
    <div class="myFormlogin">
        <form (ngSubmit)="onLoginSubmit()">
            <div class="myInput inputTop">
                <input type="text" placeholder="Pseudo" [(ngModel)]="email" name="email">
            </div>
            <div class="myInput inputbottom">
                <input type="password" placeholder="Mot de passe" [(ngModel)]="password" name="password">
            </div>

            <div class="formLoginRegisterButton">
                <button type="submit" class="animated-button1">Connexion</button>
            </div>
        </form>
    </div>

    <ns-register-form></ns-register-form>
</app-contain>
