.titleLoginRegister {
  padding-top: 1rem;
  text-align: center;
  font-family: GochiHand;
}

.myFormlogin {

  display: flex;
  justify-content: center;

  .myInput {
    margin: 0 1rem;


    input {
      background-color: #D9D9D9;
      height: 3rem;
      margin: 1rem;
      border-radius: 15px;

      &::placeholder {
        padding-left: 2rem;
        font-family: GochiHand;
        color: black;
      }
    }
  }

  textarea {
    background-color: #D9D9D9;
    resize: none;
    height: 40%;
    width: 100%;
    margin: 1rem 0;
    border-radius: 15px;

    &::placeholder {
      padding: 2rem;
      font-family: GochiHand;
      color: black;

    }
  }

}

.formLoginRegisterButton {
  display: flex;
  justify-content: center;

  .animated-button1 {
    border: 2px solid black;
    border-radius: 15px;
    text-decoration: none;
    background: linear-gradient(-30deg, #acacac 50%, #c2c2c2 50%);
    padding: 0 1rem;
    margin: 1rem;
    display: inline-block;
    transform: translate(0%, 0%);
    overflow: hidden;
    font-family: GochiHand;
    color: #000000;
    font-size: 1.5rem;
    text-align: center;
  }

  .animated-button1::before {
    border-radius: 15px;
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #acacac;
    opacity: 0;
    transition: .2s opacity ease-in-out;
  }

  .animated-button1:hover::before {
    opacity: 0.7;
  }

  .animated-button1 span {
    position: absolute;
  }

  .animated-button1 span:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), #ffffff);
    animation: 2s animateTop linear infinite;
  }

  @keyframes animateTop {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .animated-button1 span:nth-child(3) {
    border-radius: 15px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #ffffff);
    animation: 2s animateBottom linear infinite;
  }

  @keyframes animateBottom {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }
}
