<app-contain>
    <h2 class="titleLoginRegister titleLogin">Connexion</h2>
    <div class="myFormlogin">
        <form action="email">
            <div class="myInput inputTop">
                <input type="text" placeholder="Pseudo ">
            </div>
            <div class="myInput inputbottom">
                <input type="text" placeholder="Mot de passe">
            </div>

            <div class="formLoginRegisterButton">
                <a type="submit" class="animated-button1">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Connexion
                </a>
            </div>
        </form>
    </div>

<ns-register-form></ns-register-form>

</app-contain>