<app-contain>

    <div class="newGalleryPage">
        <div class="newGalleryTitle">
            <h1>Nouvelle galerie</h1>
        </div>

        <div class="bgNewGallery">
            <div class="inputNewGallery mx-auto">
                <input type="text" placeholder="Nom de la galerie ...">
            </div>

            <div class="addNftToGallery">
                <input type="text" placeholder="nft à ajouter ...">
                <div class="newGalleryButton">
                    <a type="submit" class="animated-button1">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Parcourir
                    </a>
                </div>
            </div>
            <textarea class="mx-auto" name="" id="" cols="30" rows="10" placeholder="Description de la galerie ..."></textarea>
            <div class="newGalleryButton">
                <a type="submit" class="animated-button1">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Valider
                </a>

            </div>
        </div>


    </div>
















</app-contain>