<div class="myAccordion accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <a href="#"><img class="rightArrow pageArrow" src="../../../assets/design/arrow.webp" alt="Bouton Suivant"></a>
                Les créatures adaptées
            </button>
          
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ul>
                    <a href="">
                        <li>Licornes</li>
                    </a>
                    <a href="">
                        <li>Elfes</li>
                    </a>
                    <a href="">
                        <li>Satyres</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <a href="#"><img class="rightArrow pageArrow" src="../../../assets/design/arrow.webp" alt="Bouton Suivant"></a>
                Les créatures non-adaptées </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body custom-content">
                <ul>
                    <a href="">
                        <li>Sirènes</li>
                    </a>
                    <a href="">
                        <li>Trolls</li>
                    </a>
                    <a href="">
                        <li>Dryades</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <a href="#"><img class="rightArrow pageArrow" src="../../../assets/design/arrow.webp" alt="Bouton Suivant"></a>
                Les créatures technologiques </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ul>
                    <a href="">
                        <li>Dragons</li>
                    </a>
                    <a href="">
                        <li>Krakens</li>
                    </a>
                    <a href="">
                        <li>Minotaures</li>
                    </a>
                </ul> 
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFor" aria-expanded="false" aria-controls="flush-collapseFor">
                <a href="#"><img class="rightArrow pageArrow" src="../../../assets/design/arrow.webp" alt="Bouton Suivant"></a>
                Les créatures dangereuses </button>
        </h2>
        <div id="flush-collapseFor" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ul>
                    <a href="">
                        <li>Cyclopes</li>
                    </a>
                    <a href="">
                        <li>Fées</li>
                    </a>
                    <a href="">
                        <li>Harpies</li>
                    </a>
                </ul>  
            </div>
        </div>
    </div>
</div>