<div class="accordion">

  <div class="formCategoriesButton">
    <a class="animated-button1" (click)="toggleAccordion(category)">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      {{ category.name }}
    </a>
    <a routerLink="/category/show'" routerLinkActive="active-link"><img class="arrowToCategoryShow"
        src="../../../assets/design/arrow.webp" alt="Bouton ToCategory"></a>
  </div>

  <div [@slideInOut]="state" class="collapseAccordion formCategoriesButton" *ngIf="category.isExpanded">
    <ul>
      <li *ngFor="let subCategory of category.subCategory" class="animated-button1">
        <a [routerLink]="['/creature/show', subCategory.name]" routerLinkActive="active-link">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          {{ subCategory.name }}
        </a>
      </li>
    </ul>
  </div>
</div>