<app-contain>
    <div class="subCategoryPage">
        <h1 class="titleSubCategory">{{ subCategoryName }}</h1>

        <div class="subCategoryText">
            <p>{{ subCategoryDescription }}</p>
        </div>

        <div class="btnArrows">
            
            <a class="backToCategory btnBack" routerLink="/categories" routerLinkActive="active-link">
                <img class="arrowToCategory" src="../../../assets/design/arrow.webp" alt="Bouton retour">retour : catégories
            </a>

            <a class="backToCreatures btnBack" routerLink="/creatures" routerLinkActive="active-link">
                <img class="arrowToCreatures" src="../../../assets/design/arrow.webp" alt="Bouton retour"> retour : liste de créatures
            </a>
        </div>
    </div>
</app-contain>