.allBody {
    background: rgb(0, 0, 0);
    background-image: url(../assets/design/background.webp);
    display: flex;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;


}