<app-contain>

    <div class="galleryList">
        <h1>les galeries de jean-Michel</h1>
        <h3>Galerie : Mes Dragons</h3>
    </div>
    <div class="row mx-auto bgCards">
        <div class="col-4 mb-4">
            <div class="card myCards mx-auto">
                <img src="../../../assets/design/sansnft.webp" alt="No NFT Image">
            </div>
        </div>
        <div class="col-4 mb-4">
            <div class="card myCards mx-auto">
                <img src="../../../assets/design/sansnft.webp" alt="No NFT Image">
            </div>
        </div>
        <div class="col-4 mb-4">
            <div class="card myCards mx-auto">
                <img src="../../../assets/design/sansnft.webp" alt="No NFT Image">
            </div>
        </div>
        <div class="col-4 mb-4">
            <div class="card myCards mx-auto">
                <img src="../../../assets/design/sansnft.webp" alt="No NFT Image">
            </div>
        </div>
        <div class="col-4 mb-4">
            <div class="card myCards mx-auto">
                <img src="../../../assets/design/sansnft.webp" alt="No NFT Image">
            </div>
        </div>
        <div class="col-4 mb-4">
            <div class="card myCards mx-auto">
                <a routerLink="/nft/show/:name"><img src="../../../assets/design/sansnft.webp" alt="No NFT Image"></a>
            </div>
        </div>
    </div>


    <div class="myPagination">
        <div class="myPaginationButton mx-auto">
            <a href="javascript:void(0);" class="animated-button1">
                <span></span>
                <span></span>
                Précédent
                <span></span>
                <span></span>
            </a>

            <span class="counterPagination">Page currentPage de getTotalPages() </span>

            <a href="javascript:void(0);" class="animated-button1">
                <span></span>
                <span></span>
                Suivant
                <span></span>
                <span></span>
            </a>
        </div>
    </div>

</app-contain>