@import "../../../variables.scss";

.SocialMediasTitle {
  padding-top: 1rem;
  text-align: center;
  font-family: merrycle2;
}

p {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  text-align: center;
  font-family: merrycle2;
}

.logoSocialMedia {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logoMedias {
    display: flex;
    justify-content: center;
    img{
        margin: 0 1rem 0.5rem;
        width: 25%;
        &:hover{
          opacity: 0.5;
        }
    }
  }
}
