<app-contain>
    <h1 class="SocialMediasTitle">Rejoignez-nous sur les Réseaux Sociaux</h1>
    <p>Ne manquez pas les dernières nouvelles de MysthiCity en nous rejoignant sur les réseaux sociaux. </p>
    <p>Suivez-nous pour découvrir en avant-première nos nouvelles collections. </p>
    <p>Rejoignez la communauté passionnée de MysthiCity et plongez dans un monde de magie moderne, où le fantastique
        prend vie sous une forme numérique captivante.</p>

    <div class="logoSocialMedia">
        <div class="logoMedias logoSocialMediaTop">
                <img src="../../../assets/design/facebook1.webp" alt="social Media facebook">
                <img src="../../../assets/design/twitterX1.webp" alt="social Media twitterX">
                <img src="../../../assets/design/tiktok1.webp" alt="social Media tiktok">
          
        </div>

        <div class="logoMedias logoSocialMediaBottom">
                <img src="../../../assets/design/pinterest1.webp" alt="social Media pinterest">
                <img src="../../../assets/design/instagrame1.webp" alt="social Media instagrame">
                <img src="../../../assets/design/linkedin1.webp" alt="social Media linkedin">
           
        </div>
    </div>



</app-contain>