$backgroundContain: #A3A3A3;



@font-face {
    font-family: "GochiHand";
    src: url(../src/assets/font/GochiHand.ttf)format("truetype");
}
@font-face {
    font-family: "FairyDustB";
    src: url(../src/assets/font/FairyDustB.ttf)format("truetype");
}