$backgroundContain: #A3A3A3;
$backgroundButton: #D9D9D9;



@font-face {
    font-family: "GochiHand";
    src: url(../src/assets/font/GochiHand.ttf)format("truetype");
}
@font-face {
    font-family: "FairyDustB";
    src: url(../src/assets/font/FairyDustB.ttf)format("truetype");
}
@font-face {
    font-family: "merrycle1";
    src: url(../src/assets/font/merrycle1.otf)format("truetype");
}
@font-face {
    font-family: "merrycle2";
    src: url(../src/assets/font/merrycle2.otf)format("truetype");
}
@font-face {
    font-family: "royalcurvy";
    src: url(../src/assets/font/royalcurvy.ttf)format("truetype");
}