<app-contain class="subCategoryContainer">
    <div class="formAddCreature">
        <h1 *ngIf="showCreatureForm">Ajout d’une créature</h1>
        <ns-creature-add-form *ngIf="showCreatureForm">
        </ns-creature-add-form>
        <div class="mySubCategoryButton">
            <a (click)="toggleCreatureForm()" class="animated-button1" *ngIf="showCreatureForm">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                retour
            </a>
        </div>
    </div>

    <div class="subCategoryContain">

        <div class="subCategoryList" *ngIf="!showCreatureForm">
            <h1>Les créatures présentes</h1>
            <div class="subCategoryUl">
                <div *ngFor="let group of groupedSubCategories">
                    <ul>
                        <li *ngFor="let subCategory of group" class="animated-button1">
                            <a [routerLink]="['/creature/show', subCategory.name]" routerLinkActive="active-link">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                {{ subCategory.name }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>



            <div class="mySubCategoryButton">
                <a (click)="toggleCreatureForm()" class="animated-button1">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Proposer une créature
                </a>
            </div>
        </div>
    </div>
</app-contain>