<app-contain class="subCategoryContainer">
    <div class="formAddCreature">
        <h1 *ngIf="showCreatureForm">Ajout d’une créature</h1>
        <ns-creature-add-form *ngIf="showCreatureForm">
        </ns-creature-add-form>
        <div class="mySubCategoryButton">
            <a (click)="toggleCreatureForm()" class="animated-button1" *ngIf="showCreatureForm">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                retour
            </a>
        </div>
    </div>

    <div class="subCategoryContain">

        <div class="subCategoryList" *ngIf="!showCreatureForm">
            <h1>Les créatures présentes</h1>
            <div class="subCategoryUl">
                <ul>
                    <a href="">
                        <li>Licornes</li>
                    </a>
                    <a href="">
                        <li>Elfes</li>
                    </a>
                    <a href="">
                        <li>Satyres</li>
                    </a>
                </ul>
                <ul>
                    <a href="">
                        <li>Sirènes</li>
                    </a>
                    <a href="">
                        <li>Trolls</li>
                    </a>
                    <a href="">
                        <li>Dryades</li>
                    </a>
                </ul>
                <ul>
                    <a href="">
                        <li>Dragons</li>
                    </a>
                    <a href="">
                        <li>Krakens</li>
                    </a>
                    <a href="">
                        <li>Minotaures</li>
                    </a>
                </ul>
                <ul>
                    <a href="">
                        <li>Cyclopes</li>
                    </a>
                    <a href="">
                        <li>Fées</li>
                    </a>
                    <a href="">
                        <li>Harpies</li>
                    </a>
                </ul>
            </div>
            <div class="mySubCategoryButton">
                <a (click)="toggleCreatureForm()" class="animated-button1">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Proposer une créature
                </a>
            </div>
        </div>
    </div>
</app-contain>