.myFooter {
    position: absolute;
    bottom: 0;

    ul {
        padding: 0;
        li {
            font-size: 1.2rem;
            font-family: GochiHand;
            list-style: none;
            color: #A3A3A3;
        }
    }
}