<footer class="myFooter">
    <ul>
        <li>
            <a routerLink="/qui-suis-je" routerLinkActive="active-link">Qui suis-je ?</a>
        </li>
        <li>
            <a routerLink="/reseaux-sociaux" routerLinkActive="active-link">Nos réseaux</a>
        </li>
        <li> <a routerLink="/connexion-inscription" routerLinkActive="active-link">Connexion / Inscription</a></li>
    </ul>

    <ul class="footerBottom">
        <li> <a routerLink="/connexion-inscription" >Mentions légales</a></li>
        <li> <a routerLink="/connexion-inscription" >Conditions d'utilisation</a></li>
        <li>
            <p>
                ©Copyright 2023 LionelPetit
            </p>
        </li>
    </ul>
</footer>